<section >
 
    <div class="row g-4 mt-5" >

        <div class="col-md-4 " *ngFor=" let product of products">
        
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h2> <span class="text-main border-bottom">OrderId :</span>{{product.id}}</h2>
        
                </div>
                <div class="card-body text-primary">
                  <h5 class="card-title">    <p class="">information about the order</p>
                  </h5>
                    <p class="card-text"> <strong>phone: </strong>  {{product.user.phone}}</p>
                    <p class="card-text">  <strong>email: </strong>{{product.user.email}}</p>
                    <p class="card-text"> <strong>name: </strong>{{product.user.name}} </p>
                    <p class="card-text">  <strong>payment: </strong>{{product.paymentMethodType}}</p>
                    <p class="card-text"> <strong>paidAt: </strong>{{product.paidAt}}</p>
                    <p class="card-text"><strong>totalOrderPrice: </strong>{{product.totalOrderPrice}}</p>
                
                </div>
              </div>
            </div>
        </div>
      
</section>